<% layout("layouts/boilerplate.ejs") %>
<div class="row">
    <div class="col-8 offset-2">
<body>
   <h3> Edit Listing here : </h3><br><br>
   <form method="POST" class="needs-validation" enctype="multipart/form-data" action="/listings/<%= result.id%>?_method=PUT" novalidate>
     <div class="mb-3">
        <label class="form-label">Title: </label>
        <input type="text" class="form-control" value="<%=result.title %>" name="title" required>
        <div class="valid-feedback">Title Looks good!</div>
     </div>
     <div class="mb-3">
        <label class="form-label">Description: </label>
        <textarea class="form-control" name="description" required><%=result.description %></textarea>
        <div class="invalid-feedback">A short description is required!</div>
     </div>
     <div>
       <p>Original Listing Image:</p>
       <img src="<%= originalImageUrl%>" width="250px" style="border-radius: 25px;">
     </div>
     <div class="mb-3">
        <label class="form-label">Upload New Image: </label>
        <input type="file" class="form-control"  name="image">
        
     </div>
     <div class="row">
        <div class="mb-3 col-md-4">
            <label class="form-label">Price: </label>
            <input type="text" class="form-control" value="<%=result.price %>" name="price" required>
            <div class="invalid-feedback">Enter valid Price</div>
         </div>
         <div class="mb-3 col-md-7">
            <label class="form-label">Country: </label>
            <input type="text" class="form-control" value="<%=result.country %>" name="country" required>
            <div class="invalid-feedback">Enter valid Country</div>
         </div>
     </div>
     
     <div class="mb-3">
        <label class="form-label">Location: </label>
        <input type="text" class="form-control" value="<%=result.location %>" name="location" required>
        <div class="invalid-feedback">Enter valid Location</div>
     </div>
    
       <br><br>
        <button class="btn btn-dark">Edit</button>
   </form>
  
</body>

    </div> 
</div>
